<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= t('app.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= posts_path %>"><%= t('app.name_to')%><%= current_user&.email %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%= posts_path %>"><%= t('app.all') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%= new_post_path %>"><%= t('app.new') %></a>
            </li>
          </ul>

          <ul class="navbar-nav pull-xs-right">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to t('app.log_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t('app.log_in'), new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container main">
    <div class="row">
      <div class="col-md-12">
        <% if flash.any? %>
          <div class="content-wrapper buffer-both">
            <% flash.each do |name, message| %>
              <div class="alert <%= bootstrap_class_for(name) %>">
                <button class="close" data-dismiss="alert">&times;</button>
                <%= message %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </div>
  </body>

  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 " style="bg-gradient-dark">
      © 2021 Сделал для UCHI.RU
      <a class="text-dark" href="https://github.com/IlyaKokorev"> - Кокорев И.С.</a>
    </div>
  </footer>
</html>
